<?xml version='1.0' encoding='utf-8'?>
<widget id="io.tmo.onevoice" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>1Voice</name>
    <description>
        Your personal shopper
    </description>
    <author email="pachachura.arthur@gmail.com" href="http://arthurpachachura.com">
        Arthur Pachachura and others
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/logoldpi.png" />
        <icon density="mdpi" src="res/icon/android/logomdpi.png" />
        <icon density="hdpi" src="res/icon/android/logohdpi.png" />
        <icon density="xhdpi" src="res/icon/android/logoxhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/logoxxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/logoxxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#303F9F" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <engine name="android" spec="^6.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.3" />
</widget>
